# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# ng build --base-href "/Clair-Obscur/"
# npx angular-cli-ghpages --dir=dist/clair-obscur/browser
# https://rachelsv.github.io/Clair-Obscur/

# // Import the functions you need from the SDKs you need
# import { initializeApp } from "firebase/app";
# // TODO: Add SDKs for Firebase products that you want to use
# // https://firebase.google.com/docs/web/setup#available-libraries

# // Your web app's Firebase configuration
# const firebaseConfig = {
#   apiKey: "AIzaSyB2n_UYbxQ43wCdmZka2fyLGRsArv7h6XI",
#   authDomain: "blog-clair-obscur.firebaseapp.com",
#   projectId: "blog-clair-obscur",
#   storageBucket: "blog-clair-obscur.firebasestorage.app",
#   messagingSenderId: "1053648200324",
#   appId: "1:1053648200324:web:260094b9e4b56c33e998d1"
# };

# // Initialize Firebase
# const app = initializeApp(firebaseConfig);


# J'EN SUIS A L'ETAPE 4 GPT Environnement